<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.dao.EmpDao">

    <!--resultType="Emp"   -->
    <select id="list" resultType="Emp"  parameterType="Emp">
        select empno,ename,salary sal,deptno from emp
        <trim prefix="where" prefixOverrides="and" suffix=" order by salary desc">
            <if test="empno!=0">
                and empno=#{empno}
            </if>

            <if test="ename!=null and ename!=''">
                and ename like  concat('%', #{ename},'%')
            </if>
        </trim>
    </select>

    <select id="getEmpById" resultType="Emp" parameterType="int" >
        select empno,ename,salary sal from emp where empno=#{empno}
    </select>

    <!--insert into emp (empno,ename) values (#{empno},#{ename})-->
    <insert id="add" parameterType="Emp">
         insert into emp (ename,salary) values (#{ename},#{sal})
    </insert>

    <insert id="addGetId" parameterType="Emp">
        insert into emp (ename) values (#{ename})
        <selectKey resultType="int" keyProperty="empno" order="AFTER" >
            select last_insert_id()
        </selectKey>
    </insert>
    <update id="modifyall" parameterType="String" >
        update employees (password) values ('00000')
    </update>


    <update id="edit" parameterType="Emp">
        update emp
        <set>
            <if test="ename!=null and ename!=''">
                ename=#{ename},
            </if>
            <if test="sal!=null and sal!=''">
                salary=#{sal}
            </if>
        </set>
        <include refid="whereSql"></include>
    </update>
    <delete id="del" parameterType="Emp">
        delete from emp  <include refid="whereSql"></include>
    </delete>

    <!--共同的sql脚本片段-->
    <sql id="whereSql">
        where empno=#{empno}
    </sql>






</mapper>

