<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.model.Role">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="roleName" jdbcType="VARCHAR" property="roleName" />
    <result column="roleInfo" jdbcType="VARCHAR" property="roleInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    roleId, roleName, roleInfo
  </sql>
  <select id="list" parameterType="Role" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    <where>
    <if test="roleId != null and roleId!=0">
      roleid = #{roleid}
    </if>
    </where>
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from role
    where roleId = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.Role">
    insert into role (roleId, roleName, roleInfo
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        roleId,
      </if>
      <if test="roleName != null">
        roleName,
      </if>
      <if test="roleInfo != null">
        roleInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleInfo != null">
        #{roleInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.model.Role">
    update role
    <set>
      <if test="roleName != null">
        roleName = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleInfo != null">
        roleInfo = #{roleInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where roleId = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Role">
    update role
    set roleName = #{roleName,jdbcType=VARCHAR},
      roleInfo = #{roleInfo,jdbcType=VARCHAR}
    where roleId = #{roleId,jdbcType=INTEGER}
  </update>
  <insert id="shouquan" parameterType="RolePermission">
    insert into role_perm (roleId,permid) values (#{roleId},#{permid})
  </insert>
</mapper>